<div class="row">
  <div class="col-md-12">
    <div class="video-player">
      <div id="zype_<%= video.zype_id %>"></div><script src="https://player.zype.com/embed/<%= video.zype_id %>.js?autoplay=true&app_key=<%=app_key%>" type="text/javascript"></script>
    </div>
  </div>
</div>

<%= render partial: 'video_description', locals: { video: video } %>