<p>
  Please log in or subscribe to watch this video.
</p>
<p>
  <%= link_to 'Log in', new_session_path(origin_video_id: video.id) %>  |
  <%= link_to 'Subscribe', 'https://admin.zype.com/users/sign_up', target: '_blank' %>
</p>