<h1>Videos#index</h1>
<section class="videos">
  <% @videos.each do |video| %>
    <%= link_to video_path(video), class: 'video-item-link' do %>
      <div class="video-item">
        <%= image_tag video.thumbnail.fetch('url'), size: size_for_thumbnail(video.thumbnail) %>
        <p>
          <%= video.title %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
