<h1 class="page-title"><%= @video.title %></h1>

<% if @video.subscription_required %>
  <% if access_token.present? %>
    <%= render partial: 'subscription_video_player', locals: { video: @video, access_token: access_token } %>
  <% else %>
    <%= render partial: 'paywall', locals: { video: @video } %>
  <% end %>
<% else %>
  <%= render partial: 'free_video_player', locals: { video: @video } %>
<% end %>